$primary: #07679b;
$secondary: #bf8d2e;
$third: #cdcdcd;

// shades
$primary_120: #021d2c;
$primary_110: #032c42;
$primary_100: #043b59;
$primary_90: #054a6f;
$primary_80: #065885;
$primary_70: #07679b;
$primary_60: #2a7da9;
$primary_50: #4e92b8;
$primary_40: #71a8c6;
$primary_30: #95bed4;
$primary_20: #b8d4e2;
$primary_10: #dce9f1;

$secondary_120: #37280d;
$secondary_110: #523c14;
$secondary_100: #6d511a;
$secondary_90: #886521;
$secondary_80: #a47927;
$secondary_70: #bf8d2e;
$secondary_60: #c89d4c;
$secondary_50: #d1ae6a;
$secondary_40: #dabe88;
$secondary_30: #e4cea5;
$secondary_20: #eddec3;
$secondary_10: #f6efe1;

$third_120: #3b3b3b;
$third_110: #585858;
$third_100: #757575;
$third_90: #929292;
$third_80: #b0b0b0;
$third_70: #cdcdcd;
$third_60: #d4d4d4;
$third_50: #dbdbdb;
$third_40: #e2e2e2;
$third_30: #eaeaea;
$third_20: #f1f1f1;
$third_10: #f8f8f8;
