.wrap {
  &_95 {
    width: 95%;
    margin: 0 auto;
  }

  &_85 {
    width: 85%;
    margin: 0 auto;
  }

  &_75 {
    width: 75%;
    margin: 0 auto;
  }

  &_50 {
    width: 50%;
    margin: 0 auto;
  }
}
